
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --maincolor:#DFB163;
}
/* html{
    width:80%;
} */
body{
    max-width: 100%;
    min-height:100vh;
    /* overflow: hidden; */
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    width:74vw;    
    position:relative;
    margin: auto;
    color:white;
}
.active{
    color:var(--maincolor)
}
nav{
    width:100%;
    height:6vw;
    background-color: black;
}
.nav1{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    color:white;
    padding:1vw 0.5vw;
    /* margin-bottom: 10vw; */
}
.line::before{
content:"";
border:1px solid #BAB4AD;
margin-right: 1.2vw;
}
.nav1 .navback1{
    width:20%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.nav1 .navback1 a{
    font-size: 0.9rem;
    font-weight: bold;
    color:#BAB4AD ;
font-family: 'Montserrat', sans-serif;
    /* border:2px solid white; */
}
.navback2{
    width:18%;
}
.nav1 .navback2 ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav1 .navback2 ul li{
    list-style: none;
font-family: 'Montserrat', sans-serif;
}
.nav1 .navback2 ul li a{
    font-size: 1rem;
    color:gray  ;
}
.nav2{
    width:100%;
    display:flex;
    top:90%;
    position: absolute;
    background: #252531;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 2vw;
}
.logo{
    width:20%;
    transform:scale(1,1.3);
    font-weight:bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1.8rem;
    padding: 0 1.6vw;
}
.logo span{
    color:#DFB163
}
.nav2menu{
    width:52%;
    padding: 0 1.5vw;;
}
.nav2menu ul{
    display:flex;
    color:white;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.1vw;
}
.nav2menu ul a{
    color:gray;
}
.mobicon{
   margin:0 2vw;
   display:none;
}
.nav2menu ul li .nactive{
    
    color:#DFB163;
}
.nav2menu ul li a:hover{
    color:#DFB163;
}
.nav2menu ul li a:active{
    color:#DFB163;

}
@media(max-width:1007px){
    .rcontainer{
        width:100%;
    }
}
@media(max-width:604px){
    .mobicon{
        display:block;
    }
    /* .nav{
        padding:0;
    } */
    .nav1{
        display:none;
    }
    .nav2menu{
        display:none;
    }
}
/* ***********************************Third section*********************************************** */
.third{
    width: 74vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5vw;
    margin:0 auto;
}
.th{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}
.third-icon{
    width:30%;  
}
.td p{
    font-size: 1vw;
    margin:0.3vw 0;
    font-family: 'Montserrat', sans-serif;
    color:#B6BDC4;
}
.th i{
    font-size: 2.3vw;
    margin:0 1vw;
}
.office{
    width:25%;
    padding: 0;
}
.td{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
}
.td h3{
    font-family: 'Oswald Light', sans-serif;
    /* font-weight: bold; */
    font-size: 1.3vw;
    /* font-weight: bold; */
}
.office .third-icon{
    width:10%;
}
/* .th .call{
    padding:0 2vw;
} */
@media(max-width:1000px){
    .third{
        width:100%;
        margin-top: 2%;;
        font-size: 2vw;
    }
}
@media(max-width:607px){
    .third{
        display: none;
        margin-top: 2%;;
        font-size: 2vw;
    }
    .td h3{
        font-size: 3vw;
    }
    .td p{
        font-size: 2.5vw;
    }
    .th i{
        font-size: 5vw;
    }

}
/* ***********************************Fourth section*********************************************** */
.slide{
    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;
}
.slide1{
    width:200%;
    height:100%;
    transform: translate(0%);
    transition:0.8s;
    display: inline-flex;  
}
.slide button{
    font-size: 0;   
background-color: var(--maincolor);
border:none;
outline:none
}
.slide button i{
    font-size: 2vw;
    padding: 0.5vw 1vw;
}
.slide .btn1{
    z-index: 100;
    top: 50%;
    /* background-color: #DFB163; */
    position:absolute;
    left:5%;
    opacity:0.3;

}
.slide .btn1:hover{
    opacity:1;
}
.slide .btn2:hover{
    opacity:1;
}
.slide .btn2{
    z-index: 100; 
    top: 50%;
    opacity:0.3;
    position: absolute;
    right:5%;
}
.slide1 .sid{
    width:100%;
    height:100%;
    background-image:url("./img/carousel-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fsl{
    background-image:url("./img/carousel-2.jpg");
}
.fourth_overlay{
    position:absolute;
    background: black;
    opacity: 0.4;
    top:0;
    width:100%;
    height:100%;
}
.slide1 .sid p{
    font-size: 1.4vw;
    font-family: 'Montserrat', sans-serif;
    z-index: 3;
    color:var(--maincolor);
}
.slide1 .sid h2{
    font-size: 3.9vw;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    color:white;
    z-index: 4;
    margin:1vw 0;    
}
.slide1 .sid a{
    padding:1.3vw 3vw;
    margin:1vw  0; 
    border:none;
    outline:none;
    z-index: 5;
    color:gray;
    background-color: var(--maincolor);
}
/* @media(max-width:1000px){
    .fourth{
        margin-top: 2%;;
    }
} */
/* ***********************************Third section*********************************************** */
.fifth{
    width:100%;
    background-color: #F1F5FD;
}
.fifthdata{
    width:75%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
.fd1{
    width:40%;
    background-color: var(--maincolor);
    display: flex;
    justify-content:center;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    flex-direction: column;
}
.fd1 h1{
    padding:1vw 0;
    font-family: 'oswald semibold', sans-serif;
    font-size:4.5vw;
}
.fd1 h4{
    font-size: 2.7vw;
    font-family: 'oswald', sans-serif;
}
.fd1 i{
    font-size: 6vw;
}
.fd2{
    width:60%;
    padding:7vw 3vw;
}
.fd2 h4{
    color:var(--maincolor);  
    font-family: 'oswald light', sans-serif;
    letter-spacing: 1px;
    font-size: 1vw;
    font-weight: bold;
}
.backline{
    width:100%;
    display:flex;
    position: relative;
    margin: 1vw 0;
    /* padding:0 1vw; */
}
.backline h1{
    font-size: 2.5vw;
    line-height: 1.3;
    margin:0 1vw;
    font-family: 'oswald medium', sans-serif;    
}
.backline::before{
    content:"";
    display:"block";
    margin-top: 0.8vw;
    width:5vw;
    height: 3px;
    background-color: #DFB163;
}
.fd2 .line2{
    width:20%;
    margin:0;
    padding: 0;
    border-top:3px solid var(--maincolor);
}
.fd2 p{
    font-size: 1vw;
    line-height:1.5;
    color:gray;
    font-family: 'Montserrat', sans-serif;
    margin: 1vw 0;
}
.fd2field{
    width:100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.fd2f{
    width:50%;
    display: flex;
    border:2px solid black;
    /* justify-content: space-between; */
    align-items: center;
        margin:1vw 0 ;
}
.fd2f i{
    /* width:20%; */
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3vw;
    color:var(--maincolor);
}
.fd2f h2{
    width:70%;
    margin: 0 1vw;
    font-size: 1.4vw;
    font-family: 'oswald light', sans-serif;      
}
@media(max-width:1000px){
    .fifthdata{
        width:100%
    }

}
@media(max-width:600px){
    .fifthdata{
        flex-direction: column;
    } 
    .fd1{
        width:100%;
        padding: 5vw;
        font-size: 10vw;
    }
    .fd2field{
        margin-top: 4vw;
    }
   .fd2{
        width:100%;
    }
    .fd2 h1{
        font-size: 7vw;
    }
    .fd2 h3{
        font-size: 5vw;
    }
    .fd2 p{
        font-size: 3vw;
        line-height: 20px;
        margin-top: 4vw;
    }
    .fd2f i{
        font-size: 10vw;
    }
    .fd2f h2{
        font-size: 4vw;
    }   
}
/* ***********************************sixth section*********************************************** */
.sixth{
    width:75%;
    display: flex;
    margin:5vw auto;
    align-items: center;
}
.sixth1{
    width:50%;
}
.sixth1 h4{
    color:var(--maincolor);  
    font-family: 'oswald light', sans-serif;
    letter-spacing: 1px;
    font-size: 1vw;
    font-weight: bold;
}
.sixth1 p{
    font-size: 1vw;
    line-height:1.5;
    color:gray;
    font-family: 'Montserrat', sans-serif;
    margin: 1.5vw 0;
}
.sixth1 button{
    padding:1vw 2vw;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--maincolor);
    border:none;
    outline:none
} 
.sixth2{
    width:50%;
    position: relative;
    overflow: hidden;
}
.sixth2slide{
    width:400%;
    height: 100%;
    position: relative  ;
    display: inline-flex;
    justify-content: space-around;
    transition: 0.8s;
}
.sixth2card i{
    font-size: 4vw;
}
.sixth2 h3{
    font-size: 1.4vw;
    font-family: 'oswald light', sans-serif;
    margin: 1vw 0;;
}
.sixth2 button{
    font-size: 0;   
background-color: var(--maincolor);
border:none;
outline:none
}
.sixth2 button i{
    font-size: 1vw;
    padding: 0.8vw 1vw;
}
.sixth2 .btn1{
    position:absolute;
    z-index: 100;
    top:50%;    
    left:5%;
}
.sixth2 .btn2{
    position: absolute;
    z-index: 100;
    top:50%;
    right:6%;
}
.sixth2card{
    width:40%;
    background-color: #F3F6FF;
    display: flex;
    justify-content: space-around;
    padding:2.5vw 1.6vw;
    align-items: center;
    margin:0 1.5vw;
    flex-direction: column;
}
.sixth2card p{
    font-size: 1vw;
    line-height:1.5;
    text-align: center  ;
    color:gray;
    font-family: 'Montserrat', sans-serif;
    /* margin: 1vw 0;   */
}
@media(max-width:600px){
    .sixth{
        width:100%;
        flex-direction: column;
        padding: 3vw;
    }
    .sixth2,.sixth1{
        width:100%;
    }
    
    .sixthcard{
        width:60%;
    }
    .sixth1 h4{
        font-size: 6vw;
    }
    .sixth1 h1{
        font-size: 6vw;
    }
    .sixth1 p{
        font-size: 3vw;
    }
    .sixth1 button{
        padding: 2vw 4vw;
    }
    .sixth2card h1{
        font-size: 2vw;
    }
    .sixth2card{
        padding: 7vw 0;;
    }
    .sixth2card p{
        font-size: 2vw;
    }
    .sixth2card h3{
        font-size: 4vw;
    }
    .sixth2{
        margin:4vw 0;
    }
}
/* ***********************************Seventh section*********************************************** */
.seventh{
    width:100%;
    background-color:#F1F5FD;
}
.seven{
    width:80%;
    margin: auto;
    display:flex;
}
.seventh .sev1{
    width:55%;
    padding:5vw 3vw;
}
.seventh .sev1 h4{
    color:var(--maincolor);  
    font-family: 'oswald light', sans-serif;
    letter-spacing: 1px;
    font-size: 1vw;
    font-weight: bold;
}
.seventh .sev1 .sev1para{
    font-size: 1vw;
    line-height:1.5;
    color:gray;
    font-family: 'Montserrat', sans-serif;
    margin: 1.5vw 0;
}
.seventh .sev1 .cheak{
    /* width:42%; */
    display: flex;
    margin: 0.1vw 0;
}
.seventh .sev1 .cheak p{
    font-family: 'oswald light', sans-serif;
    font-weight: bold    ;
}
.seventh .sev1  i{
    color:var(--maincolor);
    font-size: 2vw;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right:1vw;
}
.seventh .sev1  button{
    background-color:var(--maincolor);
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    margin:2vw 0;
    padding: 1vw 2vw;
    border:none;
    outline:none;
}
.seventh  img{
    width:37%;
    height:50%;
}
    /* .seventh .sev2{
        width:45%;
        height:60%;
    } */
@media(max-width:607px){
.seven{
    width:100%;
    padding: 3vw;
    flex-direction: column;
}
.seventh .sev1{
    width:100%;
}
.seventh .sev1 h4{
    font-size: 5vw;
}
.seventh .sev1 h1{
    font-size: 7vw;
}
.seventh .sev1 .sev1para{
    font-size: 3vw;
    margin:3vw 0;
}
.seventh .sev1  button{
    padding:3vw 6vw;
}
.seventh .sev1 i{
    font-size: 5vw;;
}
.seventh img{
    display:none;
}
}
/* ****************************************************************************************************** */
.eighth{
    width:75vw;
    margin:6vw auto;   
    text-align: center;
}
.eighth h4{
    color:var(--maincolor);  
    font-family: 'oswald light', sans-serif;
    letter-spacing: 1px;
    font-size: 1vw;
    font-weight: bold;
}
.active{
    background-color: #DFB163;
}
.eighth h1{
    width:50%;
    font-size: 2.5vw;
    line-height: 1.3;
    margin:1.5vw auto;
    font-family: 'oswald', sans-serif; 
}
.eighthmenu{
    width:40%; 
    margin:2vw auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.eighthmenu a{
    color:var(--maincolor);
    border:2px solid #EAE9EA;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5vw 1vw;
}
.gal{
    padding: 0;
    position: relative;
    transition: all 10s;
}
.gal:hover::before{
    content:"";
    position: absolute;
    bottom:0;
    height:100%;
}
.gal:before{
    content:"";
    background-color: black;
    position: absolute;
    bottom:0;
    width:100%;
    /* transition: all 2s ; */
}

.eighthgallary{
width:100%;
display:grid;
grid-template-columns: repeat(3,1fr);
grid-template-columns: repeat(3,1fr);
margin:auto;
}
.eighthgallary img{
    width: 100%;

    height: 100%;;
}
@media(max-width:608px){
    .eighth{
        width:100%;
        padding:3vw;
    }
    .eighthmenu{
        width:100%
    }
    .eighthgallary{
        grid-template-columns: repeat(2,1fr);
grid-template-columns: repeat(2,1fr);
    }
    .eighth h4{
        font-size: 4vw;
    }
    .eighth h1{
        font-size: 4vw;
    }
}
/* ***********************************Seventh section*********************************************** */
.ninth{
    width:100%;
    display: flex;
    justify-content: center;
    background-color:#F1F5FD;
    text-align: center;
}
.nine{
    width:75%;
    margin:auto;
    display: flex;
justify-content: center;
}
.ninth .n1{
    width:34%;          
    background-color: var(--maincolor);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.ninth .n1 h4{
    color:white; 
    font-family: 'oswald light', sans-serif;
    letter-spacing: 1px;
    margin: 1vw 0;
    font-size: 1vw;
    font-weight: bold;
}  
.ninth .n1 h1{
    font-family: 'oswald medium', sans-serif;
    line-height: 1.3;
    font-size: 2.5vw;
    font-weight: 1000;
}   
/* .ninthslide{
} */
.ninthslide{
    width:75%;
    height:100%;
    position: relative;
    overflow: hidden;
    padding: 6vw 0.5vw;
}
.ninthslide .n2{
    width:240%;
    display:inline-flex;
    transition: 0.8s;
    justify-content: space-between;
}
.ninthslide .n2 .cards{
    width: 40%;
    margin: 0 1vw;
}
.ninth .ninthslide .n2 .cards img{
    width:100%;
}
.ninth .cardsdata{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding:0.9vw;
    background-color: #24242F;
}
.ninth .cardsdata h3{
    color:white;
    font-size: 1.3vw;
    font-family: 'oswald light', sans-serif;
    letter-spacing: 1px;

}
.ninth .cardsdata h5{
    color:gray;
    font-family: 'Montserrat', sans-serif;
    margin: 0.5vw 0;
}
.ninthslide button{
    border:none;
    outline:none;
}
.ninthslide .btn1{
    position: absolute;
    z-index: 100;
    padding:1vw 1.4vw;
    background-color: var(--maincolor);
    top:50%;
    left:7%;   
}
.ninthslide .btn2{
    position: absolute;
    z-index: 100;
    padding:1vw 1.4vw;
    background-color: var(--maincolor);
    top:50%;
    right:7%;
}
@media(max-width:607px){
    .nine{
        width:100%;
        padding: 3vw;
        flex-direction: column;
    }
    .ninthslide{
        width:100%;
    }
    .ninth .n1{
        width:100%;
        padding: 4vw;
    }
    /* .ninth .n2{
        width:100%;
    } */
    .ninth .cardsdata h3{
        font-size: 2.8vw;
    }
    .ninth .n1 h1{
        font-size: 5vw;
    }
}
/* ******************************************************************************** */
.tenth{
    width:75%;
    /* height:70vh; */
    margin:auto;
    display: flex;
    align-items: center;
}
.tenth .ten1{
width:60%;
display:flex;
justify-content:center;
flex-direction: column;
/* align-items:center ; */
padding: 5vw 1vw;
}
.tenth .ten1 h4{
    color:var(--maincolor); 
    font-family: 'oswald light', sans-serif;
    letter-spacing: 1px;
    margin: 1vw 0;
    font-size: 1vw;
    font-weight: bold;
    
}  
.tenth .ten1 span button{
padding:0.5vw 1vw;
outline:none;
color:var(--maincolor);
border: 1px solid #DFB163;
background-color: white;
}
.tenth .ten1 h1{
font-family: 'oswald', sans-serif;
}
.tenth .ten1 .tenclient{
width:25%;
display:flex;
justify-content: space-between;
align-items: center;
}
.tenth .ten1 .tenclient img{
    width:35%;
border-radius: 50%;
}
/* .tenth .ten1 .tenclient .clientinfo{
display: flex;
justify-content: space-between;
flex-direction: column;
} */
.tenth .ten1 .tenclient .clientinfo h5{
font-family: 'oswald light', sans-serif;
font-size: 1.3vw;
color:black;
letter-spacing: 1px;
}
.tenpara{
font-family: 'Montserrat', sans-serif;
color:#BCBBBC;
line-height: 1.4;
font-size: 1.2vw;
margin:10px 0;
}
.tenth .ten1 .tenclient .clientinfo p{
font-family: 'Montserrat', sans-serif;
font-size: 1vw;
margin-top: 0.5vw;
font-style: italic;
color:gray;;
}
.tenth .ten2{
width:40%;
height: 100%;
}
.tenth .ten2 img{
width:100%;
height:100%;
}
@media(max-width:607px){
    .tenth{
        width:100%;
        padding: 3vw;
        flex-direction: column;
    }
    .tenth .ten1{
        width:100%
    }
    .tenth .ten1 h5{
        font-size: 4vw;
    }
    .tenth .ten1 h1{
        font-size: 8vw;
        margin: 2vw 0;
    }
    .tenth .ten1 .tenclient{
        width:50%;
    }
    .tenth .ten1 .tenclient .clientinfo h5{
        font-size:6vw
    }
    .tenth .ten1 .tenclient .clientinfo p{
        font-size: 4vw;
    }
    .tenpara{
        width:100%;
        font-size: 3.3vw;
        line-height: 20px;
    }
    .tenth .ten2{
        display: none;
    }
}
/* ******************************************************************************** */
.twelth{
    width:100%;
    text-align: center;
    padding: 7vw 1vw;
    background: #F1F5FD;
}
.twelth h4{
    color:var(--maincolor); 
    font-family: 'oswald light', sans-serif;
    letter-spacing: 1px;
    margin: 1vw 0;
    font-size: 1vw;
    font-weight: bold;
    
}  
.twelth h5{     
    margin:1vw 0;
    font-size: 1.2vw;
font-family: 'oswald light', sans-serif;
font-weight: bold;
}
.twelth h1{
    margin:1.5vw auto;
font-family: 'Oswald', sans-serif;
font-size: 2.5vw;
width: 40%;
}
.twelthcards{
    width:77%;
    margin:2vw auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.twcard{
    margin:0 1.5vw;
    background-color: white;
}
.twcard img{
    width:100%;
}
.twcard div{
    width:100%;
    padding: 0.5vw;
    display: flex;
    align-items: center;
    /* margin: 0 10px;; */
}
.twcard div h5{
    margin:0 2vw;
}
.twcard div button{
    padding:1vw 1vw;
    border:none;
    outline:none;
    background-color: var(--maincolor);
}
.twcard p{
    font-family: 'Montserrat', sans-serif;
    margin:1vw 1vw;
    font-size: 1.1vw;;
    text-align: start;
    color:gray;
    letter-spacing: 0.1px;
}
.clsd{
    /* width:50%; */
    display:flex;
margin:2vw  0;
}
.twcard span i{
    color:#DFB163;
    margin-right:1vw;
}
.clsd span{
    display:flex;
    justify-content: space-evenly;

}
.clsd span i{
    display: flex;
    margin:0 0.5vw;
    justify-content: space-around;
    align-items: center;
    font-size: 1vw;

}
.clsd span p{
    font-size: 1vw;
    margin:0;
}
@media(max-width:607px){
    .twelth{
        padding:3vw;
    }
    .twelth .twhead{
        font-size: 5vw;
        margin: 0;
    }
    .twelth h1{
        width:100%;
        font-size: 7vw;
    }
    .twelthcards{
        width:100%;
        flex-direction: column;
    }
    .clsd span p{
        font-size: 5vw;
    }
    .clsd span i{
        font-size: 4vw;
    }
    .twcard div button{
        font-size: 8vw;
    }
    .twcard div h5{
        font-size: 8vw;
    }
    .twelpara{
        font-size: 5vw!important;
    }
}
/* *************************************************************************************** */
footer{
    width:100%;
    padding:2vw 1vw;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #171717;
    color:white;
}
footer .adress .fadr{
    width:100%;
    font-size: 1.1vw;
    font-family: 'Montserrat', sans-serif;
    margin:1vw 0;
}
footer .adress .fadr i{
    font-size: 1.2vw;
    margin:0 1vw;
}
/* footer .adress .f1{
    font-size: 1.3vw;
        margin: 0.4vw 0;
} */
.footericon{
    width:80%;
    display:flex;
    align-items: center;
}
.footericon a{
    border:1px solid white;
    padding: 0.5vw 0.7vw;
    margin:0.4vw;
    border-radius: 50%;
    font-size: 1vw;
    color:white;
}
footer .menu{
    width:23%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:0.5vw;
}
footer h2{
    font-family: 'oswald', sans-serif;
    font-size: 1.7vw;
    color: var(--maincolor);
}
footer .menu a{
    margin:0.5vw 0;
    font-size: 1.1vw;
    font-family: 'Montserrat', sans-serif;
    color:white;
}
footer .menu i{
    margin-right: 1vw;
}
footer .menu input{
    border:none;
    outline:none;
    padding:1vw;
    margin:0.5vw 0;
    font-size: 1vw;
}
footer .menu button{
    border:none;
    outline:none;
    padding:1vw 1.5vw;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    background: var(--maincolor);
}
@media(max-width:608px){
footer{
    flex-direction: column;
    align-items: flex-start;
}
footer .menu{
    width:100%;
}
footer .adress .fadr{
    font-size: 3vw;
}
footer h2{
    font-size: 7vw;
}
footer .menu a{
    font-size: 3vw;

}
footer .menu input{
    font-size: 4vw;
}
footer .adress .fadr i{
    font-size: 3vw;
}
.clsd p{
    font-size: 5vw;
}
.footericon a{
    font-size: 6vw;
    padding: 2vw 3vw;;
}}
.copyright{
    width:100%;
    padding: 3vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3vw;
}   
.copyright span{
    font-weight: bold;
}
